* {
  box-sizing: border-box;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --main-width: 4px;
  --main-color: #222;
}
.container {
  margin: 20px auto;
  width: 1000px;
}
.row {
  display: flex;
}

hr {
  border: 1px solid #eee;
}

.game-info {
  display: flex;

  .game-name {
    flex: 1;
  }
  .category {
    flex: 1;
    text-align: right;
    span {
      text-transform: capitalize;
      color: #e91e63;
      font-weight: bold;
    }
  }
}
.row {
  display: flex;
}
.hangman-draw {
  flex: 1;
  background-color: #f8f8f8;
  padding: 20px;
  height: 324px;
}

.the-draw {
  width: 60px;
  height: 280px;
  border-bottom: 4px solid #222;
  position: relative;
  margin: auto;

  .the-stand {
    content: "";
    position: absolute;
    width: var(--main-width);
    background-color: var(--main-color);
    height: 100%;
    left: 50%;
    margin-left: -2px;
  }

  .the-hang {
    &::before {
      content: "";
      position: absolute;
      width: 100px;
      background-color: var(--main-color);
      height: var(--main-width);
      left: 30px;
      top: 15px;
    }
    &::after {
      content: "";
      position: absolute;
      width: var(--main-width);
      background-color: var(--main-color);
      height: 30px;
      left: 130px;
      top: 15px;
    }
  }

  .the-rope {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    left: 95px;
    top: 45px;
    border: var(--main-width) dashed var(--main-color);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }

  .the-man {
    .head {
      position: absolute;
      left: 105px;
      top: 55px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: var(--main-width) solid var(--main-color);
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
    .body {
      position: absolute;
      left: 130px;
      top: 102px;
      width: var(--main-width);
      background-color: var(--main-color);
      height: 110px;
    }
    .hands::before {
      left: 85px;
      transform: rotate(30deg);
      -moz-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
      -o-transform: rotate(30deg);
      -webkit-transform: rotate(30deg);
    }
    .hands::after {
      left: 130px;
      transform: rotate(-30deg);
      -moz-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
      -o-transform: rotate(-30deg);
      -webkit-transform: rotate(-30deg);
    }
    .hands::before,
    .hands::after {
      content: "";
      position: absolute;
      width: 50px;
      top: 130px;
      height: var(--main-width);
      background-color: var(--main-color);
    }

    .legs::before {
      left: 130px;
      transform: rotate(30deg);
      -webkit-transform: rotate(30deg);
      -moz-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
      -o-transform: rotate(30deg);
    }
    .legs::after {
      left: 85px;
      transform: rotate(-30deg);
      -webkit-transform: rotate(-30deg);
      -moz-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
      -o-transform: rotate(-30deg);
    }
    .legs::after,
    .legs::before {
      content: "";
      position: absolute;
      width: 50px;
      height: var(--main-width);
      background-color: var(--main-color);
      top: 220px;
    }
  }
}
