* {
  box-sizing: border-box;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
:root {
  --main-width: 4px;
  --main-color: #222;
}
.container {
  margin: 20px auto;
  width: 1000px;
}
.row {
  display: flex;
}
hr {
  border: 1px solid #eee;
}
.game-info {
  display: flex;
  .game-name {
    flex: 1;
  }
  .category {
    flex: 1;
    text-align: right;
    span {
      text-transform: capitalize;
      color: #e91e63;
      font-weight: bold;
    }
  }
}
.row {
  display: flex;
  .hangman-draw {
    flex: 1;
    background-color: #f8f8f8;
    padding: 20px;
    height: 324px;
  }
  .the-draw {
    width: 60px;
    height: 280px;
    border-bottom: 4px solid #222;
    position: relative;
    margin: auto;
    left: -60px;
    display: none;

    .the-stand {
      content: "";
      position: absolute;
      width: var(--main-width);
      background-color: var(--main-color);
      height: 100%;
      left: 50%;
      margin-left: -2px;
      display: none;
    }

    .the-hang {
      display: none;
      &::before {
        content: "";
        position: absolute;
        width: 100px;
        background-color: var(--main-color);
        height: var(--main-width);
        left: 30px;
        top: 15px;
      }
      &::after {
        content: "";
        position: absolute;
        width: var(--main-width);
        background-color: var(--main-color);
        height: 30px;
        left: 130px;
        top: 15px;
      }
    }

    .the-rope {
      display: none;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      position: absolute;
      left: 95px;
      top: 45px;
      border: var(--main-width) dashed var(--main-color);
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }

    .the-man {
      .head {
        position: absolute;
        left: 105px;
        top: 55px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: var(--main-width) solid var(--main-color);
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        display: none;
      }
      .body {
        position: absolute;
        left: 130px;
        top: 102px;
        width: var(--main-width);
        background-color: var(--main-color);
        height: 110px;
        display: none;
      }
      .hands {
        display: none;
      }
      .hands::before {
        left: 85px;
        transform: rotate(30deg);
        -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        -o-transform: rotate(30deg);
        -webkit-transform: rotate(30deg);
      }
      .hands::after {
        left: 130px;
        transform: rotate(-30deg);
        -moz-transform: rotate(-30deg);
        -ms-transform: rotate(-30deg);
        -o-transform: rotate(-30deg);
        -webkit-transform: rotate(-30deg);
      }
      .hands::before,
      .hands::after {
        content: "";
        position: absolute;
        width: 50px;
        top: 130px;
        height: var(--main-width);
        background-color: var(--main-color);
      }

      .legs {
        display: none;
      }
      .legs::before {
        left: 130px;
        transform: rotate(30deg);
        -webkit-transform: rotate(30deg);
        -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        -o-transform: rotate(30deg);
      }
      .legs::after {
        left: 85px;
        transform: rotate(-30deg);
        -webkit-transform: rotate(-30deg);
        -moz-transform: rotate(-30deg);
        -ms-transform: rotate(-30deg);
        -o-transform: rotate(-30deg);
      }
      .legs::after,
      .legs::before {
        content: "";
        position: absolute;
        width: 50px;
        height: var(--main-width);
        background-color: var(--main-color);
        top: 220px;
      }
    }
  }

  /* drawing the hangman depends on class wrongs attemps */
  .hangman-draw.wrong-1 .the-draw {
    display: block;
  }
  .hangman-draw.wrong-2 .the-stand {
    display: block;
  }
  .hangman-draw.wrong-3 .the-hang {
    display: block;
  }

  .hangman-draw.wrong-2 .the-man .head {
    display: block;
  }
  .hangman-draw.wrong-2 .the-man .hands {
    display: block;
  }
  .hangman-draw.wrong-2 .the-man .legs {
    display: block;
  }

  .letters {
    flex: 1;
    padding: 20px;
    text-align: center;
    .letter-box {
      width: 55px;
      height: 55px;
      display: inline-block;
      background-color: #009688;
      color: white;
      font-size: 24px;
      margin-right: 10px;
      line-height: 55px;
      text-transform: uppercase;
      font-weight: bold;
      cursor: pointer;
      margin-bottom: 10px;
    }
    .letter-box.clicked {
      background-color: #222;
      opacity: 0.2;
      pointer-events: none;
    }
  }
}

.letters-guess {
  margin: 10px auto;
  background-color: #f8f8f8;
  padding: 20px;
  display: flex;
  justify-content: center;
  min-height: 104px;

  span {
    width: 60px;
    height: 60px;
    font-size: 24px;
    margin-right: 10px;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #fdfdfd;
    border-bottom: 3px solid #333;
  }
  span.with-space {
    background-color: none;
    border-bottom: none;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      background-color: #333;
      width: 20px;
      height: 2px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
    }
  }
}
